* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, html {
    height: 100%;
}

.title{
    font-weight: bold;
}

/* Grid Wrapper */
.grid-wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 60px 75px 1fr;
    grid-template-areas: 
        "nav header header"
        "nav profile-menu profile-menu"
        "nav main-content  side-content";
}
/* Navigation */
.nav {
    grid-area: nav;
    background-color: #1DA1F2;
    font-weight: bold;
    font-size: 1.45rem;
    color: white;
}

.nav ul,
.nav .logo{
    margin-left: 20px;
    padding: 12px 0 36px 0;
}

.nav li {
    list-style: none;
    padding-bottom: 12px;
}


/* Header */
header{
    grid-area: header;
    margin: 0 50px;
    display: grid;
    grid-template-columns: 60px 5fr 60px 60px 2fr;
    grid-template-rows: 60px;
    place-items: center;
}

.search-icon {
    height: 90%;
    width: auto;
}

.notification-bell-icon {
    height: 100%;
    width: auto;
}

.search-button,
.notification-bell-button{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 1.6rem;
    width: auto;
    background: transparent;
    cursor: pointer;
    border:none;
}

input[type="search"].search-bar {
    appearance: none;
    background-color: rgb(224, 227, 230);
    border-radius: 12px;
    border: none;
    height: 30px;
    width: max(200px, 90%);
    justify-self: left;
}

.profile-miniature {
    height: 42px;
    width: auto;
}

header a,
header a:visited{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.15rem;
}

/* Profile menu  */
.profile-menu{
    grid-area: profile-menu;
}
/* Content */
.main-content {
    grid-area: main-content;
}

/* Side content  */
.side-content {
    grid-area: side-content;
}